MY_APP_EVOLUTION_AUTHENTICATION_API_KEY=
MY_APP_DATABASE_CONNECTION_URI=
MY_APP_CACHE_REDIS_URI=
MY_APP_POSTGRES_USER=
MY_APP_POSTGRES_PASSWORD=
MY_APP_POSTGRES_DB=
SB_APP_DB_STRING=
SB_APP_DB_USERNAME=
SB_APP_DB_PASSWORD=
SB_APP_SERVER_PORT=
GEMINI_REST_URL=
GEMINI_MODEL=
GEMINI_API_KEY=
EVOLUTION_API_URL=
